<settings>
    <setting id="hidetvshowresults" type="bool">false</setting>
    <setting id="circle_userrating" type="bool">false</setting>
    <setting id="disable.54ratings" type="bool">false</setting>
    <setting id="disable.osdstudiologo" type="bool">false</setting>
    <setting id="hideumbrellapeoplemovieresults" type="bool">false</setting>
    <setting id="disable.osdratings" type="bool">false</setting>
    <setting id="enable.fanartclearlogo" type="bool">false</setting>
    <setting id="disable.osdaudiochannels" type="bool">false</setting>
    <setting id="hidemoviekeywordresults" type="bool">false</setting>
    <setting id="homemenunomusicbutton" type="bool">true</setting>
    <setting id="homemenunofavbutton" type="bool">true</setting>
    <setting id="hideumbrellatrakttvresults" type="bool">false</setting>
    <setting id="enable.smartstatus" type="bool">true</setting>
    <setting id="enable.mainmenuwidgetdimming" type="bool">false</setting>
    <setting id="hidepeopleresults" type="bool">false</setting>
    <setting id="homemenunopicturesbutton" type="bool">true</setting>
    <setting id="homemenunomoviesbutton" type="bool">false</setting>
    <setting id="circle_none" type="bool">false</setting>
    <setting id="hideumbrellapeopletvresults" type="bool">false</setting>
    <setting id="disable.widgetinfolinetitle" type="bool">false</setting>
    <setting id="show_musicvideoposter" type="bool">false</setting>
    <setting id="disable.50_listsetting0_ratings" type="bool">false</setting>
    <setting id="show_weatherinfo" type="bool">false</setting>
    <setting id="homemenunoradiobutton" type="bool">true</setting>
    <setting id="homemenunocustom1button" type="bool">false</setting>
    <setting id="disable.osddynamiclabelpvr" type="bool">false</setting>
    <setting id="homemenunovideosbutton" type="bool">true</setting>
    <setting id="touchmode" type="bool">false</setting>
    <setting id="oneclickclose" type="bool">false</setting>
    <setting id="homemenunomoviebutton" type="bool">false</setting>
    <setting id="homemenunocustom2button" type="bool">false</setting>
    <setting id="osdautoclose" type="bool">true</setting>
    <setting id="circle_rating" type="bool">true</setting>
    <setting id="homemenunomusicvideobutton" type="bool">true</setting>
    <setting id="disable.osdtitle" type="bool">false</setting>
    <setting id="autoscroll" type="bool">true</setting>
    <setting id="homemenunogamesbutton" type="bool">true</setting>
    <setting id="disable.posterflowartworkdimming" type="bool">false</setting>
    <setting id="hideanimeresults" type="bool">false</setting>
    <setting id="hidemovieresults" type="bool">false</setting>
    <setting id="disable.osdvideocodec" type="bool">false</setting>
    <setting id="show_profileavatar" type="bool">false</setting>
    <setting id="disable.50_listsetting1_ratings" type="bool">false</setting>
    <setting id="enable.trailerreadyicon" type="bool">false</setting>
    <setting id="enable.landscapeclearlogo" type="bool">false</setting>
    <setting id="enable.autoendplayback" type="bool">false</setting>
    <setting id="disable.50_listsetting2_ratings" type="bool">false</setting>
    <setting id="home_no_categories_widget" type="bool">true</setting>
    <setting id="show_profilename" type="bool">false</setting>
    <setting id="disable.53ratings" type="bool">false</setting>
    <setting id="disable.autoinforatings" type="bool">false</setting>
    <setting id="enable.spineclearlogo" type="bool">false</setting>
    <setting id="disable.pauseosd" type="bool">false</setting>
    <setting id="enable.osdfilenamelabel" type="bool">false</setting>
    <setting id="homemenunotvshowbutton" type="bool">false</setting>
    <setting id="homemenunoweatherbutton" type="bool">true</setting>
    <setting id="disable.osdaudiocodec" type="bool">false</setting>
    <setting id="disable.55ratings" type="bool">false</setting>
    <setting id="hidecollectionsresults" type="bool">false</setting>
    <setting id="disable.osdepisodeplot" type="bool">false</setting>
    <setting id="disable.osdclearlogo" type="bool">false</setting>
    <setting id="enable.clockcrumbs" type="bool">false</setting>
    <setting id="homemenunocustom3button" type="bool">true</setting>
    <setting id="firsttimerun" type="bool">true</setting>
    <setting id="disable.51ratings" type="bool">false</setting>
    <setting id="disable.widgetnavigationarrows" type="bool">false</setting>
    <setting id="disable.osddynamiclabelcontent" type="bool">false</setting>
    <setting id="disable.56ratings" type="bool">false</setting>
    <setting id="disable.osdepisodeinfo" type="bool">false</setting>
    <setting id="disable.persistentartwork" type="bool">false</setting>
    <setting id="homemenunotvbutton" type="bool">true</setting>
    <setting id="hidetraktresults" type="bool">false</setting>
    <setting id="disable.osdendtime" type="bool">false</setting>
    <setting id="enable.backgroundblur" type="bool">false</setting>
    <setting id="homemenunoprogramsbutton" type="bool">true</setting>
    <setting id="enable.clearlogo" type="bool">true</setting>
    <setting id="enable.detailedosd" type="bool">false</setting>
    <setting id="disable.posterflowautoinfo" type="bool">false</setting>
    <setting id="homemenunotvshowsbutton" type="bool">false</setting>
    <setting id="hideumbrellatraktmovieresults" type="bool">false</setting>
    <setting id="hide_mediaflags" type="bool">false</setting>
    <setting id="disable.osdmovieplot" type="bool">false</setting>
    <setting id="enable.autoinfoclearlogo" type="bool">true</setting>
    <setting id="hidetvshowkeywordresults" type="bool">false</setting>
    <setting id="itemfanartchoice.movies" type="string">0</setting>
    <setting id="onleftsetting" type="string">0</setting>
    <setting id="listlandscape.seasons" type="string">1</setting>
    <setting id="listartworkchoice.videos" type="string">0</setting>
    <setting id="skin.forcedview.seasons" type="string">רשימה</setting>
    <setting id="hideosd" type="string"></setting>
    <setting id="HomeFanart.ext" type="string"></setting>
    <setting id="skin.forcedview.favourites" type="string"></setting>
    <setting id="ratingslot2" type="string">rtc</setting>
    <setting id="listartworkchoice.favourites" type="string">0</setting>
    <setting id="skin.forcedview.studios" type="string"></setting>
    <setting id="artworkchoice.seasons" type="string">0</setting>
    <setting id="WeatherFanart.ext" type="string"></setting>
    <setting id="skin.forcedview.sources" type="string"></setting>
    <setting id="skin.forcedview." type="string"></setting>
    <setting id="skin.forcedview.unknown" type="string"></setting>
    <setting id="osdaudiobuttonsetting" type="string">0</setting>
    <setting id="listlandscape.tvshows" type="string">1</setting>
    <setting id="artworkchoice.episodes" type="string">0</setting>
    <setting id="listartworkchoice.addons" type="string">0</setting>
    <setting id="MenuMovieLabel" type="string">סרטים</setting>
    <setting id="homeepisodeartworkchoice" type="string">0</setting>
    <setting id="homeartworkchoice" type="string">0</setting>
    <setting id="skin.forcedview.addons" type="string"></setting>
    <setting id="skin.forcedview.countries" type="string"></setting>
    <setting id="skin.forcedview.videoplaylist" type="string"></setting>
    <setting id="landscapefanart.seasons" type="string">0</setting>
    <setting id="listartworkchoice.files" type="string">0</setting>
    <setting id="skin.forcedview.games" type="string"></setting>
    <setting id="itemfanartchoice.seasons" type="string">0</setting>
    <setting id="ratingslot4" type="string">metacritic</setting>
    <setting id="skin.forcedview.musicvideos" type="string"></setting>
    <setting id="osdautoclosetime" type="string">3</setting>
    <setting id="skin.forcedview.years" type="string"></setting>
    <setting id="current_search_provider" type="string">0</setting>
    <setting id="trailerdelaysecs" type="string">5</setting>
    <setting id="listartworkchoice." type="string">0</setting>
    <setting id="posterflowondownsetting.movietv" type="string">0</setting>
    <setting id="blurradius" type="string">30</setting>
    <setting id="homefanart.path" type="string"></setting>
    <setting id="homeitemartworkchoice" type="string">1</setting>
    <setting id="menuselectorcolorthemesetting" type="string">0</setting>
    <setting id="artworkchoice.tvshows" type="string">0</setting>
    <setting id="MovieGenreFanart.path" type="string"></setting>
    <setting id="landscapefanart.tvshows" type="string">0</setting>
    <setting id="osdstylesetting" type="string">0</setting>
    <setting id="trailersource" type="string">0</setting>
    <setting id="ratingslot3" type="string">rta</setting>
    <setting id="homelandscapefanart" type="string">0</setting>
    <setting id="landscapefanart.movies" type="string">0</setting>
    <setting id="MenuCustom1Label" type="string">חיבור שירותים</setting>
    <setting id="listartworkchoice.tvshows" type="string">0</setting>
    <setting id="HomeFanart.name" type="string"></setting>
    <setting id="checking_api_key" type="string"></setting>
    <setting id="totalwidgetcount" type="string">5</setting>
    <setting id="posterflowautoinfodelay" type="string">2</setting>
    <setting id="mdblist_api_key" type="string">0fdzbnn0juoqn5klfk9fxayhb</setting>
    <setting id="nimbus_digital_expired_window" type="string">21</setting>
    <setting id="MenuCustom2Label" type="string">תחזוקה</setting>
    <setting id="MenuCustom3Label" type="string">Custom 3</setting>
    <setting id="listartworkchoice.movies" type="string">0</setting>
    <setting id="trailersetting" type="string">0</setting>
    <setting id="skin.forcedview.musicplaylist" type="string"></setting>
    <setting id="skin.forcedview.videos" type="string"></setting>
    <setting id="WeatherFanart.path" type="string"></setting>
    <setting id="trailerplaying" type="string"></setting>
    <setting id="playbackdelaysecs" type="string">1800</setting>
    <setting id="skin.forcedview.roles" type="string"></setting>
    <setting id="WeatherFanart.name" type="string"></setting>
    <setting id="nimbuscustombackground" type="string"></setting>
    <setting id="skin.forcedview.actors" type="string"></setting>
    <setting id="artworkchoice.movies" type="string">0</setting>
    <setting id="skin.forcedview.files" type="string"></setting>
    <setting id="nimbus_digital_release_window" type="string">7</setting>
    <setting id="onrightsetting.other" type="string">0</setting>
    <setting id="revertfromwalldelay" type="string">2</setting>
    <setting id="skin.forcedview.directors" type="string"></setting>
    <setting id="onrightsetting.movietv" type="string">0</setting>
    <setting id="CapturedKeyCode" type="string"></setting>
    <setting id="togglelabel" type="string"></setting>
    <setting id="titlesetting" type="string">0</setting>
    <setting id="skin.forcedview.episodes.outside" type="string">קיר מידע רחב</setting>
    <setting id="skin.forcedview.mixed" type="string"></setting>
    <setting id="posterflowondownsetting.other" type="string">0</setting>
    <setting id="dialogbackgroundsetting" type="string">0</setting>
    <setting id="ratingslot5" type="string">letterboxd</setting>
    <setting id="MenuTVShowLabel" type="string">סדרות</setting>
    <setting id="onbacksetting" type="string">1</setting>
    <setting id="TrailerPlaybackURL" type="string">plugin://plugin.video.youtube/play/?video_id=n_pEJjq-9xQ</setting>
    <setting id="skin.forcedview.genres" type="string"></setting>
    <setting id="skin.forcedview.sets" type="string"></setting>
    <setting id="skin.forcedview.tvshows" type="string">קיר מידע</setting>
    <setting id="ratingslot1" type="string">imdb</setting>
    <setting id="CacheSize" type="string">0.00 MB</setting>
    <setting id="listlandscape.movies" type="string">1</setting>
    <setting id="searchsetting" type="string">0</setting>
    <setting id="waitinterval" type="string">1</setting>
    <setting id="ratingslot6" type="string">mdblist</setting>
    <setting id="listlandscape.episodes" type="string">0</setting>
    <setting id="BlurContainer" type="string"></setting>
    <setting id="skin.forcedview.episodes.inside" type="string">קיר מידע רחב</setting>
    <setting id="landscapewidgetsublabelsetting" type="string">1</setting>
    <setting id="ondownsetting.other" type="string">0</setting>
    <setting id="skin.forcedview.albums" type="string"></setting>
    <setting id="listartworkchoice.episodes" type="string">0</setting>
    <setting id="landscapefanart.episodes" type="string">0</setting>
    <setting id="skin.forcedview.songs" type="string"></setting>
    <setting id="skin.forcedview.images" type="string"></setting>
    <setting id="menucasesetting" type="string">0</setting>
    <setting id="MovieGenreFanart.Name" type="string"></setting>
    <setting id="skin.forcedview.tags" type="string"></setting>
    <setting id="focuscolorthemesetting" type="string">0</setting>
    <setting id="skin.forcedview.playlists" type="string"></setting>
    <setting id="osdsubtitlebuttonsetting" type="string">1</setting>
    <setting id="skin.forcedview.movies" type="string">קיר מידע</setting>
    <setting id="valid_api_key" type="string">true</setting>
    <setting id="MovieGenreFanart.ext" type="string"></setting>
    <setting id="blursaturation" type="string">1.5</setting>
    <setting id="playbackdelaymins" type="string">30</setting>
    <setting id="listartworkchoice.seasons" type="string">0</setting>
    <setting id="skin.forcedview.artists" type="string"></setting>
    <setting id="itemfanartchoice.tvshows" type="string">0</setting>
    <setting id="ondownsetting.movietv" type="string">0</setting>
</settings>
