<settings>
    <setting id="TMDBhCrop" type="bool">true</setting>
    <setting id="homebasic" type="bool">false</setting>
    <setting id="Infoline.DisableMatch" type="bool">true</setting>
    <setting id="flipside" type="bool">false</setting>
    <setting id="homeicons" type="bool">true</setting>
    <setting id="TMDbHelper.Service" type="bool">true</setting>
    <setting id="playerscrollseekbar" type="bool">true</setting>
    <setting id="osd.autohideonpause" type="bool">true</setting>
    <setting id="homemulti" type="bool">true</setting>
    <setting id="TMDbHelper.UseLocalWidgetContainer" type="bool">true</setting>
    <setting id="ShowEpisodeRatings" type="bool">true</setting>
    <setting id="SubmenuOnly" type="bool">true</setting>
    <setting id="DisabledProfileInfo" type="bool">true</setting>
    <setting id="SeriesIndicators" type="bool">true</setting>
    <setting id="HomeBasic" type="bool">false</setting>
    <setting id="ShowClearlogo" type="bool">true</setting>
    <setting id="EnableShowItemCount" type="bool">true</setting>
    <setting id="flixhidemenu" type="bool">true</setting>
    <setting id="homemultiflixview" type="bool">true</setting>
    <setting id="homemultinetflix" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="TMDbHelper.DisableExtendedProperties" type="bool">true</setting>
    <setting id="ExtendedNotification" type="bool">true</setting>
    <setting id="HomeMultiNetflix" type="bool">false</setting>
    <setting id="TMDbHelper.DirectCallAuto" type="bool">true</setting>
    <setting id="HomeMultiVertical" type="bool">false</setting>
    <setting id="EnableLanguages" type="bool">true</setting>
    <setting id="HomeMultiHorizontal" type="bool">false</setting>
    <setting id="homemultihorizontal" type="bool">false</setting>
    <setting id="customrating.movies.item02" type="string">RottenTomatoesCritic</setting>
    <setting id="customrating.tvshows.item06" type="string">MDbList</setting>
    <setting id="TMDbHelper.Date.Format" type="string"></setting>
    <setting id="customrating.movies.item01" type="string">IMDb</setting>
    <setting id="alphavalue_highlight" type="string">100</setting>
    <setting id="customrating.tvshows.item02" type="string">TMDb</setting>
    <setting id="background_fade" type="string">20</setting>
    <setting id="customrating.movies.item05" type="string">Trakt</setting>
    <setting id="customrating.tvshows.item03" type="string">Trakt</setting>
    <setting id="TMDbHelper.Corner.Radius" type="string"></setting>
    <setting id="customrating.tvshows.item05" type="string">RottenTomatoesCritic</setting>
    <setting id="TMDbHelper.UseLocalWindowIDs" type="string"></setting>
    <setting id="customrating.movies.item03" type="string">Metacritic</setting>
    <setting id="icons.label" type="string">Colorful</setting>
    <setting id="OSD_Timeout" type="string">3 שניות</setting>
    <setting id="TMDbHelper.Blur.Radius" type="string"></setting>
    <setting id="customrating.tvshows.item01" type="string">IMDb</setting>
    <setting id="Icons" type="string">colorful</setting>
    <setting id="TMDbHelper.MonitorContainer" type="string"></setting>
    <setting id="customrating.movies.item04" type="string">Letterboxd</setting>
    <setting id="customrating.tvshows.item04" type="string">Metacritic</setting>
    <setting id="customrating.movies.item06" type="string">TMDb</setting>
    <setting id="TMDbHelper.Blur.Size" type="string"></setting>
</settings>
