<settings>
    <setting id="TMDbHelper.DisableExtendedProperties" type="bool">true</setting>
    <setting id="faunefonts" type="bool">false</setting>
    <setting id="hidechannelsicon" type="bool">false</setting>
    <setting id="fixedwidgets" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="homeicons" type="bool">true</setting>
    <setting id="home.hideheader" type="bool">false</setting>
    <setting id="HomeMultiNetflix" type="bool">false</setting>
    <setting id="pvrguide.colordiffuse" type="bool">false</setting>
    <setting id="osd.disablecastdialog" type="bool">false</setting>
    <setting id="unwatchedcountindicator" type="bool">false</setting>
    <setting id="flixhidemenu" type="bool">true</setting>
    <setting id="pvrguide.info" type="bool">false</setting>
    <setting id="tmdbhelper.enabletranslationproperties" type="bool">false</setting>
    <setting id="automusicvis" type="bool">false</setting>
    <setting id="flipside" type="bool">false</setting>
    <setting id="disableosdinfo" type="bool">false</setting>
    <setting id="TMDbHelper.DirectCallAuto" type="bool">true</setting>
    <setting id="tmdbhelper.disableratings" type="bool">false</setting>
    <setting id="HomeBasic" type="bool">false</setting>
    <setting id="tmdbhelper.disablepvr" type="bool">false</setting>
    <setting id="infoline.disablempaa" type="bool">false</setting>
    <setting id="showinfopaused" type="bool">false</setting>
    <setting id="autoplotoverlay" type="bool">false</setting>
    <setting id="musicosdsquareartist" type="bool">false</setting>
    <setting id="homemulti" type="bool">true</setting>
    <setting id="hideosddiffusecolors" type="bool">false</setting>
    <setting id="HomeMultiVertical" type="bool">false</setting>
    <setting id="TMDbHelper.UseLocalWidgetContainer" type="bool">true</setting>
    <setting id="tags.disablelanguages" type="bool">false</setting>
    <setting id="skininit" type="bool">true</setting>
    <setting id="enablehighcontrastwidgettext" type="bool">false</setting>
    <setting id="selectbox.thin" type="bool">false</setting>
    <setting id="homebasic" type="bool">false</setting>
    <setting id="disablenowplaying" type="bool">false</setting>
    <setting id="global.showvisualisation" type="bool">false</setting>
    <setting id="textcodecs_osd" type="bool">false</setting>
    <setting id="showosdclearart" type="bool">false</setting>
    <setting id="disablemusicvideoautoinfo" type="bool">false</setting>
    <setting id="ExtendedNotification" type="bool">true</setting>
    <setting id="SubmenuOnly" type="bool">true</setting>
    <setting id="playerscrollseekbar" type="bool">true</setting>
    <setting id="itemduration_listview" type="bool">false</setting>
    <setting id="TMDbHelper.Service" type="bool">true</setting>
    <setting id="EnableShowItemCount" type="bool">true</setting>
    <setting id="smallosdinfoposter" type="bool">false</setting>
    <setting id="uselongmusicosd" type="bool">false</setting>
    <setting id="tmdbhelper.disableartwork" type="bool">false</setting>
    <setting id="showdate" type="bool">false</setting>
    <setting id="enableclearlogo" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="homemultinetflix" type="bool">false</setting>
    <setting id="enablemonochromehighlight" type="bool">false</setting>
    <setting id="music.hidecd" type="bool">false</setting>
    <setting id="global.playtrailerinbg" type="bool">false</setting>
    <setting id="textcodecs" type="bool">false</setting>
    <setting id="highlighttransparency" type="bool">false</setting>
    <setting id="plotoutline" type="bool">false</setting>
    <setting id="tmdbhelper.enablecurrentwindowimages" type="bool">false</setting>
    <setting id="widgets_browse" type="bool">false</setting>
    <setting id="disablemusicosdartistimage" type="bool">false</setting>
    <setting id="osd.disablepopupdialogs" type="bool">false</setting>
    <setting id="osd.disableepisodesdialog" type="bool">false</setting>
    <setting id="DisabledProfileInfo" type="bool">true</setting>
    <setting id="ShowClearlogo" type="bool">true</setting>
    <setting id="hidebookmarksbutton" type="bool">false</setting>
    <setting id="hideosdinfopanel" type="bool">false</setting>
    <setting id="visualisation.enablescrollingtext" type="bool">false</setting>
    <setting id="hidestopbutton" type="bool">false</setting>
    <setting id="TMDBhCrop" type="bool">true</setting>
    <setting id="disableheader" type="bool">false</setting>
    <setting id="Infoline.DisableMatch" type="bool">true</setting>
    <setting id="bigmusicvis" type="bool">false</setting>
    <setting id="tmdbhelper.enablecrop" type="bool">false</setting>
    <setting id="enableblur.background" type="bool">false</setting>
    <setting id="video.hidecd" type="bool">false</setting>
    <setting id="HomeMultiHorizontal" type="bool">false</setting>
    <setting id="tags.disablecodecs" type="bool">false</setting>
    <setting id="pvrguide.channelnumber" type="bool">false</setting>
    <setting id="disableclock" type="bool">false</setting>
    <setting id="tmdbhelper.enableblur" type="bool">false</setting>
    <setting id="global.showvideo" type="bool">false</setting>
    <setting id="hometextautowidth" type="bool">false</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="hideforwardrewindbutton" type="bool">false</setting>
    <setting id="musicvis.fanartfallback" type="bool">false</setting>
    <setting id="ShowEpisodeRatings" type="bool">true</setting>
    <setting id="hideplayerinfobutton" type="bool">false</setting>
    <setting id="pvrguide.startend" type="bool">false</setting>
    <setting id="enablezoomonhover" type="bool">false</setting>
    <setting id="hidesettingsbutton" type="bool">false</setting>
    <setting id="artistslideshow.animate" type="bool">false</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="osdvisualisation.showfanart" type="bool">false</setting>
    <setting id="artistslideshow.disabled" type="bool">false</setting>
    <setting id="disablechannellabel" type="bool">false</setting>
    <setting id="disablecenter" type="bool">false</setting>
    <setting id="showtimeremaining2" type="bool">false</setting>
    <setting id="enableblur.flixviews" type="bool">false</setting>
    <setting id="infoline.disablegenre" type="bool">false</setting>
    <setting id="hideplaypausebutton" type="bool">false</setting>
    <setting id="disablecodecs" type="bool">false</setting>
    <setting id="disablewatchedoverlay" type="bool">false</setting>
    <setting id="tags.disablecountries" type="bool">false</setting>
    <setting id="hidechaptersbutton" type="bool">false</setting>
    <setting id="kenburnseffect" type="bool">false</setting>
    <setting id="hidechaptersmark" type="bool">false</setting>
    <setting id="homemultiflixview" type="bool">true</setting>
    <setting id="showtimeremaining" type="bool">false</setting>
    <setting id="minimalbusyloader" type="bool">false</setting>
    <setting id="osd.autohideonpause" type="bool">true</setting>
    <setting id="verticaliconsonly" type="bool">false</setting>
    <setting id="usetracknamingtemplate" type="bool">false</setting>
    <setting id="enablegeometric" type="bool">false</setting>
    <setting id="tags.disablestudios" type="bool">false</setting>
    <setting id="disableautoscrollwidgets" type="bool">false</setting>
    <setting id="tmdbhelper.forcewidgetcontainer" type="bool">false</setting>
    <setting id="nofanart" type="bool">false</setting>
    <setting id="flixviews.simple" type="bool">false</setting>
    <setting id="inverttextcolor" type="bool">false</setting>
    <setting id="debugarts" type="bool">false</setting>
    <setting id="landscapeart" type="bool">false</setting>
    <setting id="EnableLanguages" type="bool">true</setting>
    <setting id="disableclockhome" type="bool">false</setting>
    <setting id="SeriesIndicators" type="bool">true</setting>
    <setting id="enhancedaddonlabels" type="bool">false</setting>
    <setting id="ei_clearlogo" type="bool">false</setting>
    <setting id="pvrguide.disableslimmode" type="bool">false</setting>
    <setting id="homemultihorizontal" type="bool">false</setting>
    <setting id="updateart.enabled" type="bool">false</setting>
    <setting id="displaysplashonstartup" type="bool">false</setting>
    <setting id="widgetPath" type="string">special://skin/extras/playlists/RandomMovies.xsp</setting>
    <setting id="VideoOSD.PersonCredits.CastCrew" type="string">cast</setting>
    <setting id="customrating.movies.item01" type="string">IMDb</setting>
    <setting id="TMDbHelper.Date.Format" type="string"></setting>
    <setting id="trailer_delay" type="string"></setting>
    <setting id="Icons" type="string">colorful</setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="SearchTerm" type="string">the copenhagen test</setting>
    <setting id="background_fade" type="string">20</setting>
    <setting id="cornericon" type="string"></setting>
    <setting id="customrating.movies.item03" type="string">Metacritic</setting>
    <setting id="gradientcolor.name" type="string">ff3949ab</setting>
    <setting id="TMDbHelper.Blur.Size" type="string"></setting>
    <setting id="autoscroll" type="string"></setting>
    <setting id="customrating.movies.item04" type="string">Letterboxd</setting>
    <setting id="customrating.movies.item02" type="string">RottenTomatoesCritic</setting>
    <setting id="FallbackSourceFlag" type="string"></setting>
    <setting id="alphavalue_highlight" type="string">100</setting>
    <setting id="customrating.tvshows.item04" type="string">Metacritic</setting>
    <setting id="TMDbHelper.Blur.Radius" type="string"></setting>
    <setting id="focuscolor.name" type="string">ff283ba8</setting>
    <setting id="fanart.fallback" type="string"></setting>
    <setting id="weather.icons.path" type="string">resource://resource.images.weathericons.white/</setting>
    <setting id="script-skinviewtypes-hash" type="string">830818dd4ebea2f1e1008b9da943506d</setting>
    <setting id="OSD_Timeout" type="string">3 שניות</setting>
    <setting id="customrating.movies.item06" type="string">TMDb</setting>
    <setting id="PosterHighlight" type="string">Mix</setting>
    <setting id="TMDbHelper.UseLocalWindowIDs" type="string"></setting>
    <setting id="homebackgroundimage" type="string"></setting>
    <setting id="icons.diffuse" type="string"></setting>
    <setting id="customrating.tvshows.item01" type="string">IMDb</setting>
    <setting id="TMDbHelper.MonitorContainer" type="string"></setting>
    <setting id="alphavalue" type="string"></setting>
    <setting id="customrating.tvshows.item06" type="string">MDbList</setting>
    <setting id="startupplaylist" type="string"></setting>
    <setting id="customrating.tvshows.item03" type="string">Trakt</setting>
    <setting id="startupimage" type="string"></setting>
    <setting id="TMDbHelper.Corner.Radius" type="string"></setting>
    <setting id="script-skinviewtypes-checksum" type="string">72faa22c864c69566e68d90911bd5a5f</setting>
    <setting id="customrating.movies.item05" type="string">Trakt</setting>
    <setting id="widgetTarget" type="string">videos</setting>
    <setting id="customrating.tvshows.item02" type="string">TMDb</setting>
    <setting id="customrating.tvshows.item05" type="string">RottenTomatoesCritic</setting>
    <setting id="icons.label" type="string">Colorful</setting>
</settings>
