<settings>
	<setting id="521.poster.control.list" type="bool">true</setting>
	<setting id="522.landscape.size" type="string">1</setting>
	<setting id="523.square.control.list" type="bool">true</setting>
	<setting id="523.square.size" type="string">1</setting>
	<setting id="5x.list.control.list" type="bool">true</setting>
	<setting id="ColorFocus.name" type="string">FF03A9F4</setting>
	<setting id="ColorHighlight.name" type="string">FF03A9F4</setting>
	<setting id="HubLimit" type="string">10</setting>
	<setting id="IndicatorColorBackgroundInProgress.name" type="string">E6A8287B</setting>
	<setting id="IndicatorColorBackgroundIsPlaying.name" type="string">E60097A7</setting>
	<setting id="IndicatorColorBackgroundNew.name" type="string">E6E6002E</setting>
	<setting id="IndicatorColorBackgroundWatched.name" type="string">E6689F38</setting>
	<setting id="KodiRatingStarColor.name" type="string">FFD6AD05</setting>
	<setting id="Skin.SettingsLevel" type="string">3</setting>
	<setting id="UserRatingStarColor.name" type="string">FFAB47BC</setting>
	<setting id="Value_Brightness_Flix" type="string">80</setting>
	<setting id="Value_Brightness_NoFlix" type="string">30</setting>
	<setting id="Value_OSD_Auto_Hide_Timeout" type="string">3</setting>
	<setting id="Value_OSD_Music_Info_Auto_Hide_Timeout" type="string">5</setting>
	<setting id="WidgetLimit" type="string">10</setting>
	<setting id="auto.hide.OSD.music.info" type="bool">true</setting>
	<setting id="country.logos.ext" type="string">.png</setting>
	<setting id="country.logos.name" type="string">Movie Country Icons - Flags</setting>
	<setting id="country.logos.path" type="string">resource://resource.images.moviecountryicons.flags/</setting>
	<setting id="disable.tmdb.helper.cacheOnly" type="bool">true</setting>
	<setting id="disable.view.50.extended.list.addons" type="bool">true</setting>
	<setting id="disable.view.50.extended.list.music" type="bool">true</setting>
	<setting id="disable.view.550.extended.list.video" type="bool">true</setting>
	<setting id="disable.widgets.onup.go.back.to.last.item" type="bool">true</setting>
	<setting id="disable.wrap.view.53" type="bool">true</setting>
	<setting id="dont.use.landscape.seasons" type="bool">true</setting>
	<setting id="dont.use.landscape.tvshows" type="bool">true</setting>
	<setting id="enable.artist.slideshow.animate" type="bool">true</setting>
	<setting id="enable.blur.on.home" type="bool">true</setting>
	<setting id="enable.extra.fanart" type="bool">true</setting>
	<setting id="enable.flags.rating.numeric" type="bool">true</setting>
	<setting id="enable.furniture.flags.colored" type="bool">true</setting>
	<setting id="enable.furniture.flags.icons" type="bool">true</setting>
	<setting id="enable.home.auto.show.nowplaying.extended" type="bool">true</setting>
	<setting id="enable.items.focus.glow" type="bool">true</setting>
	<setting id="enable.morewidget" type="bool">true</setting>
	<setting id="enable.osd.music.visualisation.fanart" type="bool">true</setting>
	<setting id="enable.trailer.playing.on.unfocus" type="bool">true</setting>
	<setting id="enable.view.50.extended.info.playlist" type="bool">true</setting>
	<setting id="enable.view.5x.51x.extended.list" type="bool">true</setting>
	<setting id="enable.view.flix.scroll.wall.music" type="bool">true</setting>
	<setting id="enable.view.flix.scroll.wall.video" type="bool">true</setting>
	<setting id="enable.widgets.ondown.go.back.to.first.item" type="bool">true</setting>
	<setting id="enable.widgets.onup.go.back.to.last.widget" type="bool">true</setting>
	<setting id="enable_widgets_to_position_0_onback_menu" type="bool">true</setting>
	<setting id="enabled.tmdb.helper.blur" type="bool">true</setting>
	<setting id="enabled.tmdb.helper.crop" type="bool">true</setting>
	<setting id="enabled.tmdb.helper.service" type="bool">true</setting>
	<setting id="fanart.fallback" type="string">special://skin/extras/backgrounds/fallback/bg_fallback_1.jpg</setting>
	<setting id="fanart.fallback.dvd" type="string">special://skin/extras/backgrounds/dvd/dvd_1.jpg</setting>
	<setting id="fanart.fallback.exit" type="string">special://skin/extras/backgrounds/exit/exit_7.jpg</setting>
	<setting id="fanart.fallback.favourite" type="string">special://skin/extras/backgrounds/favourites/favourites_2.jpg</setting>
	<setting id="fanart.fallback.game" type="string">special://skin/extras/backgrounds/games/games_3.jpg</setting>
	<setting id="fanart.fallback.image" type="string">special://skin/extras/backgrounds/pictures/pictures_5.jpg</setting>
	<setting id="fanart.fallback.more" type="string">special://skin/extras/backgrounds/more/more_1.jpg</setting>
	<setting id="fanart.fallback.movie" type="string">special://skin/extras/backgrounds/movies/movies_3.jpg</setting>
	<setting id="fanart.fallback.music" type="string">special://skin/extras/backgrounds/music/music_20.jpg</setting>
	<setting id="fanart.fallback.musicvideo" type="string">special://skin/extras/backgrounds/musicvideos/musicvideos_1.jpg</setting>
	<setting id="fanart.fallback.person" type="string">special://skin/extras/backgrounds/misc/misc_6.jpg</setting>
	<setting id="fanart.fallback.podcasts" type="string">special://skin/extras/backgrounds/addons/addons_4.jpg</setting>
	<setting id="fanart.fallback.programs" type="string">special://skin/extras/backgrounds/programs/programs_3.jpg</setting>
	<setting id="fanart.fallback.pvr" type="string">special://skin/extras/backgrounds/pvr/pvr1.jpg</setting>
	<setting id="fanart.fallback.radio" type="string">special://skin/extras/backgrounds/radio/radio2.jpg</setting>
	<setting id="fanart.fallback.search" type="string">special://skin/extras/backgrounds/search/search_2.jpg</setting>
	<setting id="fanart.fallback.settings" type="string">special://skin/extras/backgrounds/settings/settings_3.jpg</setting>
	<setting id="fanart.fallback.startup" type="string">special://skin/extras/backgrounds/00_startup/bgstartup.jpg</setting>
	<setting id="fanart.fallback.tvshow" type="string">special://skin/extras/backgrounds/tvshows/tvshows_3.jpg</setting>
	<setting id="fanart.fallback.weather" type="string">special://skin/extras/backgrounds/weather/weather_12.jpg</setting>
	<setting id="fanart.fallback.youtube" type="string">special://skin/extras/backgrounds/addons/addons_6.jpg</setting>
	<setting id="filter.video.animation" type="bool">true</setting>
	<setting id="filter.video.cast.on.line" type="bool">true</setting>
	<setting id="filter.video.only.local" type="bool">true</setting>
	<setting id="furniture.markers.alternative" type="bool">true</setting>
	<setting id="global.show.fallback.only" type="bool">true</setting>
	<setting id="hide.501.507.flags.numeric.rating" type="bool">false</setting>
	<setting id="hide.button.video.rating" type="bool">true</setting>
	<setting id="hide.button.video.similar" type="bool">true</setting>
	<setting id="hide.button.video.studio" type="bool">true</setting>
	<setting id="hide.button.video.trakt" type="bool">true</setting>
	<setting id="hide.flags.mpaa" type="bool">true</setting>
	<setting id="hide.flags.rating" type="bool">false</setting>
	<setting id="hide.flags.videoduration" type="bool">true</setting>
	<setting id="hide.furniture.flags" type="bool">false</setting>
	<setting id="hide.furniture.flags.vertical.widgets" type="bool">false</setting>
	<setting id="hide.global.fanart" type="bool">true</setting>
	<setting id="hide.global.shadows" type="bool">true</setting>
	<setting id="hide.home.nowplaying.extended.video.cd" type="bool">true</setting>
	<setting id="hide.music.ratings" type="bool">true</setting>
	<setting id="hide.osd.video.clock" type="bool">true</setting>
	<setting id="hide.osd.video.on.pause" type="bool">true</setting>
	<setting id="hide.playlist.ratings" type="bool">true</setting>
	<setting id="hide.video.ratings" type="bool">false</setting>
	<setting id="home.enable.menu.background" type="bool">true</setting>
	<setting id="home.horizontal" type="bool">true</setting>
	<setting id="home.onback.go.to.first.widget" type="bool">true</setting>
	<setting id="home.show.menu.icons" type="bool">true</setting>
	<setting id="home.show.menu.label.onfocus.icon" type="bool">true</setting>
	<setting id="home.show.menu.onfocus.underlined" type="bool">true</setting>
	<setting id="home.style.flix" type="bool">true</setting>
	<setting id="home.style.horizontal.clean" type="bool">true</setting>
	<setting id="home.vertical.widgets" type="bool">true</setting>
	<setting id="homemenu.auto.back.to.main" type="bool">true</setting>
	<setting id="label.view.list.rating.fallback" type="string">1</setting>
	<setting id="markers.inprogress.percentage" type="bool">true</setting>
	<setting id="osd.music.disc.fallback.vinyl" type="bool">true</setting>
	<setting id="recordlabel.logos.ext" type="string">.png</setting>
	<setting id="recordlabel.logos.name" type="string">Recordlabel Icons - White</setting>
	<setting id="recordlabel.logos.path" type="string">resource://resource.images.recordlabels.white/</setting>
	<setting id="settinghomestyle" type="string">5</setting>
	<setting id="settingperflevel" type="string">2</setting>
	<setting id="settingpresetcolor" type="string">3</setting>
	<setting id="settingskinfont" type="string">11</setting>
	<setting id="settingthemecolor" type="string">1</setting>
	<setting id="show.button.music.artist.discography" type="bool">true</setting>
	<setting id="show.button.video.creator" type="bool">true</setting>
	<setting id="show.button.video.director" type="bool">true</setting>
	<setting id="show.button.video.recommended" type="bool">true</setting>
	<setting id="show.button.video.set" type="bool">true</setting>
	<setting id="show.button.video.writer" type="bool">true</setting>
	<setting id="show.button.video.year" type="bool">true</setting>
	<setting id="show.dialog.info.clearlogo.music" type="bool">true</setting>
	<setting id="show.dialog.info.clearlogo.video" type="bool">true</setting>
	<setting id="show.dialog.info.music.discart" type="bool">true</setting>
	<setting id="show.dialog.info.music.logo.record.compagny" type="bool">true</setting>
	<setting id="show.flags.audio.country" type="bool">true</setting>
	<setting id="show.flags.music.bpm" type="bool">true</setting>
	<setting id="show.flags.music.samplerate" type="bool">true</setting>
	<setting id="show.flags.rating.imdb" type="bool">true</setting>
	<setting id="show.flags.rating.letterboxd" type="bool">true</setting>
	<setting id="show.flags.rating.mdblist" type="bool">true</setting>
	<setting id="show.flags.rating.metacritics" type="bool">true</setting>
	<setting id="show.flags.rating.tmdb" type="bool">true</setting>
	<setting id="show.flags.rating.tomatoes" type="bool">true</setting>
	<setting id="show.flags.rating.trakt" type="bool">true</setting>
	<setting id="show.flags.subtitles" type="bool">true</setting>
	<setting id="show.flags.subtitles.country" type="bool">true</setting>
	<setting id="show.flags.top250.classement" type="bool">true</setting>
	<setting id="show.furniture.clock.date.weather" type="bool">true</setting>
	<setting id="show.furniture.footer" type="bool">true</setting>
	<setting id="show.furniture.nowplaying.extended.home" type="bool">true</setting>
	<setting id="show.furniture.progress.circle" type="bool">true</setting>
	<setting id="show.furniture.video.rating.num.set.version" type="bool">true</setting>
	<setting id="show.home.flix.title.clearlogo" type="bool">true</setting>
	<setting id="show.home.header.clearlogo" type="bool">true</setting>
	<setting id="show.home.header.clock.left" type="bool">true</setting>
	<setting id="show.home.nowplaying.extended.music.clearlogo" type="bool">true</setting>
	<setting id="show.home.nowplaying.extended.video.clearart" type="bool">true</setting>
	<setting id="show.home.nowplaying.extended.video.title.clearlogo" type="bool">true</setting>
	<setting id="show.home.nowplaying.extended.video.windows" type="bool">true</setting>
	<setting id="show.markers.watched.music" type="bool">true</setting>
	<setting id="show.nowplaying.video.home.flix" type="bool">true</setting>
	<setting id="show.osd.music.album.info.on.down" type="bool">true</setting>
	<setting id="show.osd.music.clearlogo" type="bool">true</setting>
	<setting id="show.osd.music.rating" type="bool">true</setting>
	<setting id="show.osd.video.clearlogo" type="bool">true</setting>
	<setting id="show.osd.video.colored.icons" type="bool">true</setting>
	<setting id="show.osd.video.flags.icons" type="bool">true</setting>
	<setting id="show.osd.video.flags.imdb.rating" type="bool">true</setting>
	<setting id="show.studiologos" type="bool">true</setting>
	<setting id="show.time.format.hh.mm" type="bool">true</setting>
	<setting id="show.view.509.title.clearlogo" type="bool">true</setting>
	<setting id="show.view.511.title.clearlogo" type="bool">true</setting>
	<setting id="show.view.514.title.clearlogo" type="bool">true</setting>
	<setting id="show.view.netflix.title.clearlogo.music" type="bool">true</setting>
	<setting id="show.view.netflix.title.clearlogo.video" type="bool">true</setting>
	<setting id="startup.init" type="bool">true</setting>
	<setting id="studio.logos.ext" type="string">.png</setting>
	<setting id="studio.logos.name" type="string">Studio Icons - Coloured</setting>
	<setting id="studio.logos.path" type="string">resource://resource.images.studios.coloured/</setting>
	<setting id="tmdbhelper.disableratings" type="bool">false</setting>
	<setting id="trailer.pause.on.dialogvideoinfo" type="bool">true</setting>
	<setting id="use.clearlogo.on.fanart.seasons" type="bool">true</setting>
	<setting id="use.clearlogo.on.fanart.tvshows" type="bool">true</setting>
	<setting id="use.thumbnail.episodes" type="bool">true</setting>
	<setting id="userrating.override.kodi.rating.num" type="bool">true</setting>
	<setting id="userrating.override.kodi.rating.stars" type="bool">true</setting>
	<setting id="weather.fanart.ext" type="string">.jpg</setting>
	<setting id="weather.fanart.name" type="string">Weather Fanart - Single</setting>
	<setting id="weather.fanart.path" type="string">resource://resource.images.weatherfanart.single/</setting>
	<setting id="weather.icons.ext" type="string">.png</setting>
	<setting id="weather.icons.name" type="string">Weather Icons - Default</setting>
	<setting id="weather.icons.path" type="string">resource://resource.images.weathericons.default/</setting>
	<setting id="widget.items.onback.go.back.to.position.0" type="bool">true</setting>
	<setting id="widget.items.onback.go.back.to.position.0.setfocus.home" type="bool">true</setting>
</settings>
